body {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    background-image: url(../assets/cityscape1.svg);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: -918px;
    animation: moveBackground 50s forwards;
}

/* moving the oversized background */
  @keyframes moveBackground {
    0% {
      background-position: right;
    }

    100% {
      background-position: left;
    }
    
  }

.red-car {
    position: absolute;
    width: 200px;
    height: 100px;
    bottom: 70px;
    right: 20px;
}

main {
    flex: 1 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    line-height: normal;
}

nav, footer {
    padding: .5rem 1rem;
}

strong {
    font-weight: 700;
}

form {
    z-index: 10;
}

.logo {
    font-size: 2rem;
}

.my-nav-element {
    font-size: 1.2rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

.flashes h4 {
    line-height: 2;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(38, 166, 153, 0.147)
}

.my-edit-btn, .my-cancel-btn {
    background-color: white;
    font-weight: 700;
    color: rgb(38, 166, 154);
}

.my-edit-btn:hover, .my-cancel-btn:hover {
    color: white;
}

.btn-small {
    margin: 5px;
}

.btn-large {
    width: 14rem;
    margin: .5rem;
    padding: 0 1rem;
}

input[name="address"] {
    position: relative;
}

.notification {
    display: none;
    position:absolute;
    top: 52px;
    left: 100px;
    background-color: rgb(45, 45, 45);
    color: rgb(240, 240, 240);
    padding: .8rem;
    border-radius: 3px;
    font-size: .95rem;
}

.notification > i {
    font-size: 1.3rem;
    margin-right: .5rem;
    color:rgba(255, 255, 255, 0.5)
}

.notification .tooltip {
    position: absolute;
    background-color: rgb(45, 45, 45);
    width: 1rem;
    height: 1rem;
    rotate: 45deg;
    top: -0.4rem;
}

.visible {
    display: block;
}

/* Google maps styles  */


        .sb-title {
            position: relative;
            top: -12px;
            font-family: Roboto, sans-serif;
            font-weight: 500;
        }

        .sb-title-icon {
            position: relative;
            top: -5px;
        }

        .card-container {
            display: flex;
            height: 500px;
            width: 600px;
        }

        .panel {
            background: white;
            width: 300px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .half-input-container {
            display: flex;
            justify-content: space-between;
        }

        .half-input {
            max-width: 120px;
        }

        .map {
            width: 300px;
        }

        h2 {
            margin: 0;
            font-family: Roboto, sans-serif;
        }

        input {
            height: 30px;
        }

        input {
            border: 0;
            border-bottom: 1px solid black;
            font-size: 14px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
        }

        input:focus::placeholder {
            color: white;
        }

        .button-cta {
            height: 40px;
            width: 40%;
            background: #3367d6;
            color: white;
            font-size: 15px;
            text-transform: uppercase;
            font-family: Roboto, sans-serif;
            border: 0;
            border-radius: 3px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.48);
            cursor: pointer;
        }