:root {
    --my-green: #408b1e;
    --my-green-translucent: #418b1e3a;
    --my-red: #941b1b;
    --my-dark-blue: #20244f;
    --my-grey: rgb(117, 115, 115);
    --my-light-grey: rgb(200, 200, 200);
    --my-yellow: #fdce5d;
    --my-yellow-translucent: #fdcd5d7c;
}

body {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    background-image: url(../assets/cityscape1.svg);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: -918px;
    animation: moveBackground 50s forwards;
    color: var(--my-dark-blue);
}

/* moving the oversized background */
  @keyframes moveBackground {
    0% {
      background-position: right;
    }

    100% {
      background-position: left;
    }
  }

.red-car {
    position: absolute;
    width: 200px;
    height: 100px;
    bottom: 70px;
    right: 20px;
}

.red-car-small {
    transform: scaleX(-1);
    width: 60px;
    height: 30px;
    position: relative;
    top: 7px;
}

main {
    flex: 1 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    line-height: normal;
}

nav, footer {
    padding: .5rem 1rem;
}

footer {
    font-size: .9rem;
}

strong {
    font-weight: 700;
}

form {
    z-index: 10;
}

.logo {
    font-size: 1.7rem;
}

.my-nav-element {
    font-size: 1.2rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

h3 {
    font-size: 1.6rem;
    text-transform: capitalize;
}

.flashes h4 {
    line-height: 2;
    font-size: 1.4rem;
    background-color: var(--my-green-translucent)
}

.my-dark-blue-btn {
    background-color: var(--my-dark-blue);
    font-weight: 700;
    color: white;
    border: 1px solid var(--my-dark-blue)
}

.my-dark-blue-btn:hover {
    background-color: white;
    color: var(--my-dark-blue);
}

.my-white-blue-btn {
    background-color: white;
    font-weight: 700;
    color: var(--my-dark-blue);
    border: 1px solid var(--my-dark-blue)
}

.my-white-blue-btn:hover {
    color: white;
    background-color: var(--my-dark-blue);
}

input[name="address"] {
    position: relative;
}

.notification {
    display: none;
    position:absolute;
    top: 52px;
    left: 100px;
    background-color: rgb(45, 45, 45);
    color: rgb(240, 240, 240);
    padding: .8rem;
    border-radius: 3px;
    font-size: .95rem;
}

.notification > i {
    font-size: 1.3rem;
    margin-right: .5rem;
    color:rgba(255, 255, 255, 0.5)
}

.notification .tooltip {
    position: absolute;
    background-color: rgb(45, 45, 45);
    width: 1rem;
    height: 1rem;
    rotate: 45deg;
    top: -0.4rem;
}

.visible {
    display: block;
}

.my-icon {
    font-size: 2rem;
    margin-right: .7rem;
}

.row .col.checkboxes-frame {
    border: .7px solid var(--my-dark-blue);;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.my-green {
    background-color: var(--my-green);;
}

.my-green-text {
    color: var(--my-green);;
}

.my-red {
    background-color: var(--my-red);;
}

.my-red-text {
    color: var(--my-red);;
}

button.my-green, a.my-green {
    border: 1px solid var(--my-green);
    border-radius: 3px;
}

button.my-green:hover, a.my-green:hover {
    background-color: white;
    color: var(--my-green);
}

.my-dark-blue {
    background-color: var(--my-dark-blue);
}

.my-dark-blue-text {
    color: var(--my-dark-blue);
}

button.my-dark-blue, a.my-dark-blue {
    border: 1px solid var(--my-dark-blue);
    border-radius: 3px;
}

button.my-dark-blue:hover, a.my-dark-blue:hover {
    background-color: white;
    color: var(--my-dark-blue);
}

.my-grey-text {
    color: var(--my-grey);
}

.my-grey-text:hover {
    color: var(--my-dark-blue);
}

.danger-btn {
    background-color: white;
    border: 1px solid var(--my-red);
    color: var(--my-red);
}

.danger-btn:hover {
    background-color: var(--my-red);
    color: white;
}

a.my-yellow.my-dark-blue-text {
    background-color: var(--my-yellow);
    border: 1px solid var(--my-dark-blue);
    color: var(--my-dark-blue);
    font-weight: bold;
}

a.my-yellow.my-dark-blue-text:hover {
    background-color: var(--my-dark-blue);
    color: var(--my-yellow);
}

/* Google maps styles  */


        .sb-title {
            position: relative;
            top: -12px;
            font-family: Roboto, sans-serif;
            font-weight: 500;
        }

        .sb-title-icon {
            position: relative;
            top: -5px;
        }

        .card-container {
            display: flex;
            height: 500px;
            width: 600px;
        }

        .panel {
            background: white;
            width: 300px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .half-input-container {
            display: flex;
            justify-content: space-between;
        }

        .half-input {
            max-width: 120px;
        }

        .map {
            width: 300px;
        }

        h2 {
            margin: 0;
            font-family: Roboto, sans-serif;
        }

        input {
            height: 30px;
        }

        input {
            border: 0;
            border-bottom: 1px solid black;
            font-size: 14px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
        }

        input:focus::placeholder {
            color: white;
        }

        .button-cta {
            height: 40px;
            width: 40%;
            background: #3367d6;
            color: white;
            font-size: 15px;
            text-transform: uppercase;
            font-family: Roboto, sans-serif;
            border: 0;
            border-radius: 3px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.48);
            cursor: pointer;
        }

/* end of google maps styles  */



/* Modifying Materialize's styles  */

.btn {
    border-radius: 3px;
}

.btn-small {
    margin: 5px 5px 5px 0;
    border-radius: 3px;
}

.btn-large {
    width: 14rem;
    margin: .5rem;
    padding: 0 1rem;
    border-radius: 3px;
}

.collapsible span.badge {
    width: 2rem;
    height: 2rem;
    min-width: 0;
    border-radius: 1rem;
    line-height: 27px;
    margin-left: .5rem;
}

.collapsible span.badge.my-yellow.my-dark-blue-text {
    width: 5rem;
    height: 2rem;
    min-width: 0;
    border-radius: 1rem;
    line-height: 27px;
    margin-left: .5rem;
    background-color: var(--my-yellow);
    color: var(--my-dark-blue);
    font-weight: 700;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {

    border-color: var(--my-green);;
    background-color: var(--my-green);;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: var(--my-green-translucent);
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: var(--my-green);
}

.collapsible-header {
    display: flex;
    justify-content: space-between;
}

.col .row {
    margin-left: 0;
    margin-right: 0;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    border-color: var(--my-dark-blue)
}

.card-panel {
    padding-top: 2.5rem;
}

.input-field .prefix.active {
    color: var(--my-dark-blue);
}


/* end of Materialize's modifications  */

