body {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    background-image: url(../assets/cityscape1.svg);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: -918px;
    animation: moveBackground 50s forwards;
}

/* moving the oversized background */
  @keyframes moveBackground {
    0% {
      background-position: right;
    }

    100% {
      background-position: left;
    }
    
  }

.red-car {
    position: absolute;
    width: 200px;
    height: 100px;
    bottom: 70px;
    left: 50%;
}

main {
    flex: 1 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    line-height: normal;
}

nav, footer {
    padding: .5rem 1rem;
}

strong {
    font-weight: 700;
}

form {
    z-index: 10;
}

.logo {
    font-size: 2rem;
}

.my-nav-element {
    font-size: 1.2rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

.flashes h4 {
    line-height: 2;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(38, 166, 153, 0.147)
}

.my-edit-btn, .my-cancel-btn {
    background-color: white;
    font-weight: 700;
    color: rgb(38, 166, 154);
}

.my-edit-btn:hover, .my-cancel-btn:hover {
    color: white;
}

.btn-small {
    margin: 5px;
}

.btn-large {
    width: 14rem;
    margin: .5rem;
    padding: 0 1rem;
}

.yellow-car, .hospital {
    height: 6rem;
    width: 7rem;
}

/* Google maps styles  */


      h2 {
        margin: 0;
        font-family: Roboto, sans-serif;
      }

      input {
        height: 30px;
      }

      input {
        border: 0;
        border-bottom: 1px solid black;
        font-size: 14px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
      }

      input:focus::placeholder {
        color: white;
      }

      /* end of google maps styles  */

.main-bg-img {
    width: 100%;
}