{% extends "base.html" %}

{% block content %}
        
<div class="row">
    <div class="col s12">
        <div class="card-panel intro-card mission-card">
            <h1>Not Found</h1>
            <br>
            <p>The page you've requested doesn't exist.
            </p>
            <br>
            <div class="row">
                <a href="{{ url_for('home')}}" class="btn my-white-blue-btn">
                    Go to Home Page
                </a>
            </div>
            <br>
        </div>
    </div>
    
</div>

{% endblock %}