{% extends "base.html" %}

{% block content %}

        <div class="row">
            <div class="col s12">
                <div class="card-panel intro-card mission-card">
                    <h1>Error</h1>
                    <br>
                    <p>There seems to be a problem on our end, sorry for the inconvenience!
                    </p>
                    <br>
                    <p>Please try again later.
                    </p>
                    <br>
                </div>
            </div>

        </div>

{% endblock %}