{% extends "base.html" %}

<!-- Header elements  -->
{% block left_nav_elements %}
<a href="{{ url_for('home')}}" aria-label="link to home page">
    <div class="logo left-align my-dark-blue-text">Community Transport&ast;</div>
    <div class="center-align my-dark-blue-text">
        <img class="red-car-logo" src="{{ url_for('static', filename='assets/red-car-small.svg')}}" alt="red car">
        <span class="logo-subtext">Egham, Surrey, UK</span>
    </div>
</a>
{% endblock %}

{% block content %}

        <div class="row">
            <div class="col s12">
                <div class="card-panel intro-card mission-card">
                    <h1>Error</h1>
                    <br>
                    <p>There seems to be a problem on our end, sorry for the inconvenience!
                    </p>
                    <br>
                    <p>Please try again later.
                    </p>
                    <br>
                </div>
            </div>

        </div>

{% endblock %}