{% extends "base.html" %}

{% block headscripts %}
<!-- Google Maps JavaScript API polyfill for markerClusterer -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock %}

<!-- Header elements  -->
{% block left_nav_elements %}
<div>
    <div class="logo left-align my-dark-blue-text">CT&ast; Egham, Surrey</div>
    <div class="left-align my-dark-blue-text">
        <img id="red-car-icon" class="red-car-small" src="{{ url_for('static', filename='assets/red-car-small.svg')}}" alt="red car">
        {{user.fullname}}
        {% if user.is_admin and user.is_volunteer %}
        (<span class="my-red-text">admin</span> and <span class="my-green-text">volunteer</span>)
        {% elif user.is_admin %}
        (<span class="my-red-text">admin</span>)
        {% elif user.is_volunteer %}
        (<span class="my-green-text">volunteer</span>)
        {% endif %}
    </div>
</div>
{% endblock %}

<!-- Large screen nav elements  -->
{% block right_nav_elements %}

<!-- If user is admin display the admin menu elements  -->
{% if user.is_admin %}
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('all_members', user_id=user.id)}}">
        {% if unapproved_members_count > 0 %}
        <span class="badge btn tooltipped my-red my-white-text" data-tooltip="Number of unapproved member requests.">
            {{unapproved_members_count}}
        </span>
        {% endif %}
        <span class="my-red-text">All Users</span>
    </a></li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('all_requests', user_id=user.id)}}">
        <span class="active-nav-element my-red-text">All Requests</span>
    </a>
</li>
{% endif%}

<!-- If user is volunteer display the volunteer menu elements  -->
{% if user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_requests', user_id=user.id)}}">
        {% if outstanding_requests_count > 0 %}
        <span class="badge btn tooltipped my-green my-white-text"
            data-tooltip="Number of outstanding transport requests.">
            {{ outstanding_requests_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Outstanding Requests</span>
    </a>
</li>
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_trips', user_id=user.id)}}">
        {% if upcoming_trips_count > 0 %}
        <span class="badge btn tooltipped my-transparent my-green-text"
            data-tooltip="Number of upcoming trips you've volunteered for.">
            {{ upcoming_trips_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Trips</span>

    </a>
</li>
{% endif %}

<!-- Profile page's route depends on the privilages of the user  -->
{% if user.is_admin %}
<li>
    <a class="my-nav-element my-dark-blue-text " href="{{ url_for('admin_profile', user_id=user.id)}}">Profile
    </a>
</li>
{% elif user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text " href="{{ url_for('volunteer_profile', user_id=user.id)}}">Profile
    </a>
</li>
{% endif %}

{% endblock %}

<!-- Side nav elements  -->
{% block sidenav_elements %}
<!-- If user is admin display the admin menu elements  -->
{% if user.is_admin %}
<li><a class="active my-nav-element my-dark-blue-text" href="{{ url_for('all_members', user_id=user.id)}}">
        {% if unapproved_members_count > 0 %}
        <span class="badge btn tooltipped my-red my-white-text" data-tooltip="Number of unapproved member requests.">
            {{unapproved_members_count}}
        </span>
        {% endif %}
        <span class="my-red-text">All Users</span>
    </a></li>
<li><a class="active my-nav-element my-dark-blue-text" href="{{ url_for('all_requests', user_id=user.id)}}">
        <span class="my-red-text">All Requests</span>
    </a>
</li>
{% endif%}

<!-- If user is volunteer display the volunteer menu elements  -->
{% if user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_requests', user_id=user.id)}}">
        {% if outstanding_requests_count > 0 %}
        <span class="badge btn tooltipped my-green my-white-text"
            data-tooltip="Number of outstanding transport requests.">
            {{ outstanding_requests_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Outstanding Requests</span>
    </a>
</li>
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_trips', user_id=user.id)}}">
        {% if upcoming_trips_count > 0 %}
        <span class="badge btn tooltipped my-transparent my-green-text"
            data-tooltip="Number of upcoming trips you've volunteered for.">
            {{ upcoming_trips_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Trips</span>

    </a>
</li>
{% endif %}

<!-- Profile page's route depends on the privilages of the user  -->
{% if user.is_admin %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('admin_profile', user_id=user.id)}}">
        Profile
    </a>
</li>
{% elif user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_profile', user_id=user.id)}}">
        Profile
    </a>
</li>
{% endif %}

{% endblock %}


{% block content %}

<!-- List of Current Requests -->
{% if future_requests|length > 0 %}

<h2 class=" center-align my-red-text">Current Requests</h2>

<div id="map" data-locations="{{future_requests_place_ids}}">
</div>

<ul class="collapsible popout">
    {% for req in future_requests %}
    <li>
        <div class="collapsible-header ">

            <!-- Name  -->
            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>Request by: {{ req.requestor.fullname }}</span>
                
            </div>
            <!-- Badges  -->
            <div>
                {% if not req.volunteer_id %}
                    <span class="my-green-text">Awaiting Volunteer</span>
                {% else %}
                    <span class="my-green-text">Arranged</span>
                {% endif %}
            </div>
        </div>
        <!-- Member details  -->
        <div class="collapsible-body white">
            <p><strong>Date and Time:{{ req.request_date}} - {{ req.request_time.strftime("%H:%M") }}</strong></p>
            <p>Pickup Address: <em>{{ req.start_location.address }}</em></strong></p>
            <p>Dropoff Address: <em>{{ req.end_location.address }}</em></p>
            {% if not req.volunteer %}
            <p class="my-green-text">No volunteer has come forward yet.</p>
            {% else %}
            <p class="my-green-text">Volunteer: <em>{{ req.volunteer.fullname }}</em></p>
            {% endif %}
            
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h2 class="center-align my-red-text">No outstanding transport request found.</h2>

{% endif%}

<!-- List of Expired Requests  -->
{% if expired_requests|length > 0 %}

<h2 class=" center-align my-red-text">Expired Requests</h2>
<ul class="collapsible popout">
    {% for req in expired_requests %}
    <li>
        <div class="collapsible-header ">

            <!-- Name  -->
            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>Request by: {{ req.requestor.fullname }}</span>

            </div>
            <!-- Badges  -->
            <div>
                {% if req.status=="outstanding" %}
                <span class="badge my-yellow white-text">Unfulfilled</span>
                {% elif req.status=="arranged" %}
                <span class="badge my-green my-dark-blue-text">Fulfilled</span>
                {% endif %}
            </div>
        </div>
        <!-- Member details  -->
        <div class="collapsible-body white">
            <p><strong>Date and Time:{{ req.request_date}} - {{ req.request_time.strftime("%H:%M") }}</strong></p>
            <p>Pickup Address: <em>{{ req.start_location.address }}</em></strong></p>
            <p>Dropoff Address: <em>{{ req.start_location.address }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h2 class="center-align my-red-text">No expired transport request found.</h2>

{% endif%}

{% if future_requests|length > 0 %}

<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
<script src="{{ url_for('static', filename='js/cluster_trips_map.js')}}"></script>

<!-- Google Maps JavaScript API initialisation -->
<script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_key}}&callback=initMap&v=weekly" async
    defer></script>
{% endif %}

{% endblock %}
