{% extends "base.html" %}

<!-- Header elements  -->
{% block left_nav_elements %}
    <a href="{{ url_for('home')}}" aria-label="link to home page">
        <img class="red-car-medium" src="{{ url_for('static', filename='assets/new-red-car.svg')}}" alt="red car">
    </a>
    <div>
        <em class="my-dark-blue-text">Signed in as: <strong>{{user.fullname}}</strong></em>
    </div>
    
{% endblock %}

<!-- Large screen nav elements  -->
{% block right_nav_elements %}
    <li><a class="active my-nav-element my-dark-blue-text" href="{{ url_for('all_members', user_id=user.id)}}">
        {% if unapproved_members_count > 0 %}
            <span class="badge my-yellow my-dark-blue-text">
                {{unapproved_members_count}}
            </span>
        {% endif %}
        Users
    </a></li>
    <li><a class="my-nav-element my-dark-blue-text" href="#">
        {% if future_outstanding_requests_count > 0 %}
        <span class="badge my-green my-dark-blue-text">
            {{future_outstanding_requests_count}}
        </span>
        {% endif %}
        Requests</a>
    </li>
    <li><a class="my-nav-element my-dark-blue-text" 
        href="{{ url_for('member_home', user_id=user.id)}}">My Profile</a></li>
{% endblock %}

<!-- Side nav elements  -->
{% block sidenav_elements %}
<li><a class="active my-nav-element my-dark-blue-text" href="{{ url_for('all_members', user_id=user.id)}}">
        {% if unapproved_members_count > 0 %}
        <span class="badge my-yellow my-dark-blue-text">
            {{unapproved_members_count}}
        </span>
        {% endif %}
        Users
    </a></li>
<li><a class="my-nav-element my-dark-blue-text" href="#">
        {% if future_outstanding_requests_count > 0 %}
        <span class="badge my-green my-dark-blue-text">
            {{future_outstanding_requests_count}}
        </span>
        {% endif %}
        Requests</a>
</li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('member_home', user_id=user.id)}}">My Profile</a></li>
{% endblock %}

{% block content %}


<!-- <form action="" method="POST" class="col s12">
    <div class="row valign-wrapper center-align card-panel grey lighten-5">
        <div class="input-field col s12 m6">
            <i class="fas fa-search prefix"></i>
            <input type="text" name="query" id="query" minllength="3" class="validate" required>
            <label for="query">Search Members</label>

        </div>
        <div class="col s12 m6">
            <button type="submit" class="btn my-dark-blue-btn">
                <i class="fas fa-search left"></i> Search
            </button>
            <a href="" class="btn my-white-blue-btn">Reset</a>
        </div>
    </div>
</form> -->

<!-- List of Current Requests -->
{% if future_requests|length > 0 %}

<h3 class=" center-align">Requests</h3>
<ul class="collapsible">
    {% for req in future_requests %}
    <li>
        <div class="collapsible-header ">

            <!-- Name  -->
            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>Request by: {{ req.requestor.fullname }}</span>
                
            </div>
            <!-- Badges  -->
            <div>
                {% if req.status == "outstanding" %}
                    <span class="badge my-yellow white-text">Awaiting Volunteer</span>
                {% elif req.status == "arranged" %}
                    <span class="badge my-green my-dark-blue-text">Arranged</span>
                {% endif %}
            </div>
        </div>
        <!-- Member details  -->
        <div class="collapsible-body brown lighten-5">
            <p><strong>Date and Time: {{ req.request_time }}</strong></p>
            <p>Pickup Address: <em>{{ req.start_location.address }}</em></strong></p>
            <p>Dropoff Address: <em>{{ req.start_location.address }}</em></p>
            {% if req.vounteer %}
                <p>Volunteer: <em>{{ req.volunteer.fullname }}</em></p>
            {% else %}
                <p>No volunteer has come forward yet.</p>
            {% endif %}
            
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h3 class="my-green-text text-darken-2 center-align">No outstanding transport request found.</h3>

{% endif%}

<!-- List of Expired Requests  -->
{% if expired_requests|length > 0 %}

<h3 class=" center-align">Expired Requests</h3>
<ul class="collapsible">
    {% for req in expired_requests %}
    <li>
        <div class="collapsible-header ">

            <!-- Name  -->
            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>Request by: {{ req.requestor.fullname }}</span>

            </div>
            <!-- Badges  -->
            <div>
                {% if req.status == "outstanding" %}
                <span class="badge my-yellow white-text">Unfulfilled</span>
                {% elif req.status == "arranged" %}
                <span class="badge my-green my-dark-blue-text">Fulfilled</span>
                {% endif %}
            </div>
        </div>
        <!-- Member details  -->
        <div class="collapsible-body brown lighten-5">
            <p><strong>Date and Time: {{ req.request_time }}</strong></p>
            <p>Pickup Address: <em>{{ req.start_location.address }}</em></strong></p>
            <p>Dropoff Address: <em>{{ req.start_location.address }}</em></p>
            {% if req.vounteer %}
            <p>Volunteer: <em>{{ req.volunteer.fullname }}</em></p>
            {% else %}
            <p>No volunteer has come forward yet.</p>
            {% endif %}

        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h3 class="my-green-text text-darken-2 center-align">No expired transport request found.</h3>

{% endif%}

{% endblock %}
