{% extends "base.html" %}

{% block left_nav_elements %}
    <div>
        <img class="red-car-medium" src="{{ url_for('static', filename='assets/red-car.svg')}}" alt="red car">
        <em class="my-dark-blue-text">Logged in as: <strong>{{user.fullname}}</strong></em>
    </div>
    
{% endblock %}

{% block right_nav_elements %}
    <li><a class="active my-nav-element my-dark-blue-text" href="#">
        <span class="badge my-yellow my-dark-blue-text">{{unapproved_members_count}}</span>
        Users
    </a></li>
    <li><a class="my-nav-element my-dark-blue-text" href="#">Requests</a>
    </li>
    <li><a class="my-nav-element my-dark-blue-text" 
        href="{{ url_for('member_home', member_id=user.id)}}">My Profile</a></li>
{% endblock %}

{% block sidenav_elements %}
<li><a class="active my-nav-element my-dark-blue-text" href="#">
    <span class="badge my-yellow my-dark-blue-text">{{unapproved_members_count}}</span>
    Users</a></li>
<li><a class="my-nav-element my-dark-blue-text" href="#">Requests</a>
</li>
<li><a class="my-nav-element my-dark-blue-text" 
    href="{{ url_for('member_home', member_id=user.id)}}">My Profile</a></li>
{% endblock %}

{% block content %}


<!-- <form action="" method="POST" class="col s12">
    <div class="row valign-wrapper center-align card-panel grey lighten-5">
        <div class="input-field col s12 m6">
            <i class="fas fa-search prefix"></i>
            <input type="text" name="query" id="query" minllength="3" class="validate" required>
            <label for="query">Search Members</label>

        </div>
        <div class="col s12 m6">
            <button type="submit" class="btn my-dark-blue-btn">
                <i class="fas fa-search left"></i> Search
            </button>
            <a href="" class="btn my-white-blue-btn">Reset</a>
        </div>
    </div>
</form> -->

<!-- List Users Awaiting Approval -->
{% if unapproved_members|length > 0 %}

<h3 class=" center-align">Users Awaiting Approval</h3>
<ul class="collapsible">
    {% for member in unapproved_members %}
    <li>
        <div class="collapsible-header brown lighten-4">

            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>{{ member[0].fullname }}</span>
                
            </div>
            <div>
                {% if member[0].is_admin %}
                <span class="badge my-red white-text">A</span>
                {% endif %}
                {% if member[0].is_volunteer %}
                    <span class="badge my-green white-text">V</span>
                {% endif %}
                {% if member[0].approved == False%}
                    <span class="badge my-yellow my-dark-blue-text">Awaiting Approval</span>
                {% endif %}
            </div>
        </div>
        <div class="collapsible-body brown lighten-5">
            <p><strong>Address: <em>{{ member[1].address }}</em></strong></p>
            <p>Email: <em>{{ member[0].email }}</em></p>
            <p>
                {% if member[0].is_admin %}
                    <span class="my-red-text">Has Admin Privilages.</span>
                {% endif %}</p>
            <p>
                {% if member[0].is_volunteer %}
                    <span class="my-green-text">Registered as a Volunteer.</span>
                {% endif %}</p>
            <p>
                <a href="{{ url_for('edit_member', user_id=user.id, member_id=member[0].id) }}"
                    class="waves-effect btn-small my-dark-blue-btn">Edit Member Details</a>
                <a href="{{ url_for('confirm_delete', user_id=user.id, member_id=member[0].id) }}" class="btn-small danger-btn">Delete
                    Member</a>
            </p>
            
        </div>
    </li>
    {% endfor %}
</ul>

{% endif%}


<!-- List All Approved Members  -->
<h3 class=" center-align">Approved Users</h3>
{% if approved_members|length > 0 %}
<ul class="collapsible">
    {% for member in approved_members %}
    <li>
        <div class="collapsible-header brown lighten-4">

            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>{{ member[0].fullname }}</span>

            </div>
            <div>
                {% if member[0].is_admin %}
                <span class="badge my-red white-text">A</span>
                {% endif %}
                {% if member[0].is_volunteer %}
                <span class="badge my-green white-text">V</span>
                {% endif %}
                {% if member[0].approved == False%}
                <span class="badge my-yellow my-dark-blue-text">NEW</span>
                {% endif %}
            </div>
        </div>
        <div class="collapsible-body brown lighten-5">
            <p><strong>Address: <em>{{ member[1].address }}</em></strong></p>
            <p>Email: <em>{{ member[0].email }}</em></p>
            <p>
                {% if member[0].is_admin %}
                <span class="my-red-text">Has Admin Privilages.</span>
                {% endif %}
            </p>
            <p>
                {% if member[0].is_volunteer %}
                <span class="my-green-text">Registered as a Volunteer.</span>
                {% endif %}
            </p>
            <p>
                <a href="{{ url_for('edit_member', user_id=user.id, member_id=member[0].id) }}"
                    class="waves-effect btn-small my-dark-blue-btn">Edit Member Details</a>
                <a href="{{ url_for('confirm_delete', user_id=user.id, member_id=member[0].id) }}" class="btn-small danger-btn">Delete
                    Member</a>
            </p>

        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h3 class="my-green-text text-darken-2 center-align">No Results Found</h3>

{% endif%}

{% endblock %}
