{% extends "base.html" %}

<!-- Header elements  -->
{% block left_nav_elements %}
<a href="{{ url_for('confirm_signout', user_id=user.id)}}" aria-label="link to home page">
    <div class="logo left-align my-dark-blue-text">CT&ast; Egham, Surrey</div>
    <div class="left-align my-dark-blue-text">
        <img class="red-car-small" src="{{ url_for('static', filename='assets/new-red-car.svg')}}" alt="red car">
        {{user.fullname}}
        {% if user.is_admin and user.is_volunteer %}
        (<span class="my-red-text">admin</span> and <span class="my-green-text">volunteer</span>)
        {% elif user.is_admin %}
        (<span class="my-red-text">admin</span>)
        {% elif user.is_volunteer %}
        (<span class="my-green-text">volunteer</span>)
        {% endif %}
    </div>
</a>
{% endblock %}

<!-- Large screen nav elements  -->
{% block right_nav_elements %}

{% if user.is_admin %}
<li><a class="active my-nav-element my-dark-blue-text" href="{{ url_for('all_members', user_id=user.id)}}">
        {% if unapproved_members_count > 0 %}
        <span class="badge btn tooltipped my-red my-white-text" data-tooltip="Number of unapproved member requests.">
            {{unapproved_members_count}}
        </span>
        {% endif %}
        <span class="my-red-text">All Users</span>
    </a></li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('all_requests', user_id=user.id)}}">
        {% if outstanding_requests_count > 0 %}
        <span class="badge btn tooltipped my-transparent my-red-text"
            data-tooltip="Number of upcoming trips and transfer requests.">
            {{outstanding_requests_count}}
        </span>
        {% endif %}
        <span class="my-red-text">All Requests</span>
    </a>
</li>
{% endif%}

{% if user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_requests', user_id=user.id)}}">
        {% if outstanding_requests_count > 0 %}
        <span class="badge btn tooltipped my-green my-white-text"
            data-tooltip="Number of outstanding transport requests.">
            {{ outstanding_requests_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Outstanding Requests</span>
    </a>
</li>
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_trips', user_id=user.id)}}">
        {% if upcoming_trips_count > 0 %}
        <span class="badge btn tooltipped my-transparent my-green-text"
            data-tooltip="Number of upcoming trips you've volunteered for.">
            {{ upcoming_trips_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Trips</span>

    </a>
</li>
{% endif %}

{% if user.is_admin %}
<li>
    <a class="my-nav-element my-dark-blue-text " href="{{ url_for('admin_profile', user_id=user.id)}}">Profile
    </a>
</li>
{% elif user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text " href="{{ url_for('volunteer_profile', user_id=user.id)}}">Profile
    </a>
</li>
{% endif %}

{% endblock %}

<!-- Side nav elements  -->
{% block sidenav_elements %}
{% if user.is_admin %}
<li><a class="active my-nav-element my-dark-blue-text" href="{{ url_for('all_members', user_id=user.id)}}">
        {% if unapproved_members_count > 0 %}
        <span class="badge btn tooltipped my-red my-white-text" data-tooltip="Number of unapproved member requests.">
            {{unapproved_members_count}}
        </span>
        {% endif %}
        <span class="my-red-text">All Users</span>
    </a></li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('all_requests', user_id=user.id)}}">
        {% if outstanding_requests_count > 0 %}
        <span class="badge btn tooltipped my-transparent my-red-text"
            data-tooltip="Number of upcoming trips and transfer requests.">
            {{outstanding_requests_count}}
        </span>
        {% endif %}
        <span class="my-red-text">All Requests</span>
    </a>
</li>
{% endif%}

{% if user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_requests', user_id=user.id)}}">
        {% if outstanding_requests_count > 0 %}
        <span class="badge btn tooltipped my-green my-white-text"
            data-tooltip="Number of outstanding transport requests.">
            {{ outstanding_requests_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Outstanding Requests</span>
    </a>
</li>
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_trips', user_id=user.id)}}">
        {% if upcoming_trips_count > 0 %}
        <span class="badge btn tooltipped my-transparent my-green-text"
            data-tooltip="Number of upcoming trips you've volunteered for.">
            {{ upcoming_trips_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Trips</span>

    </a>
</li>
{% endif %}

{% if user.is_admin %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('admin_profile', user_id=user.id)}}">
        Profile
    </a>
</li>
{% elif user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_profile', user_id=user.id)}}">
        Profile
    </a>
</li>
{% endif %}

{% endblock %}

{% block content %}


<!-- <form action="" method="POST" class="col s12">
    <div class="row valign-wrapper center-align card-panel grey lighten-5">
        <div class="input-field col s12 m6">
            <i class="fas fa-search prefix"></i>
            <input type="text" name="query" id="query" minllength="3" class="validate" required>
            <label for="query">Search Members</label>

        </div>
        <div class="col s12 m6">
            <button type="submit" class="btn my-dark-blue-btn">
                <i class="fas fa-search left"></i> Search
            </button>
            <a href="" class="btn my-white-blue-btn">Reset</a>
        </div>
    </div>
</form> -->

<!-- List of Users Awaiting Approval -->
{% if unapproved_members|length > 0 %}

<h3 class="center-align my-red-text">Users Awaiting Approval</h3>
<ul class="collapsible popout">
    {% for member in unapproved_members %}
    <li>
        <div class="collapsible-header ">

            <!-- Name  -->
            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>{{ member.fullname }}</span>
                
            </div>
            <!-- Badges  -->
            <div>
                {% if member.is_admin %}
                <span class="badge my-red white-text">A</span>
                {% endif %}
                {% if member.is_volunteer %}
                    <span class="badge my-green white-text">V</span>
                {% endif %}
                {% if member.approved == False %}
                    <span class="badge my-transparent my-dark-blue-text">Review</span>
                {% endif %}
            </div>
        </div>
        <!-- Member details  -->
        <div class="collapsible-body white">
            <p><strong>Address: <em>{{ member.place.address }}</em></strong></p>
            <p>Phone: <em>{{ member.phone_nr }}</em></p>
            <p>Email: <em>{{ member.email }}</em></p>
            <p>
                {% if member.is_admin %}
                    <span class="my-red-text">Has Admin Privilages.</span>
                {% endif %}</p>
            <p>
                {% if member.is_volunteer %}
                    <span class="my-green-text">Registered as a Volunteer.</span>
                {% endif %}</p>
            <p>
                <!-- Approve & Decline buttons  -->
                <a href="{{ url_for('approve', user_id=user.id, approval_id=member.approval_id)}}"
                    class="col s12 btn-small my-yellow my-dark-blue-text">
                    Approve
                </a>

                <a href="{{ url_for('confirm_delete', user_id=user.id, member_id=member.id)}}"
                    class="col s12 btn-small danger-btn">
                    Delete Member
                </a>
            </p>
            
        </div>
    </li>
    {% endfor %}
</ul>

{% endif%}


<!-- List All Approved Members  -->
<h3 class=" center-align my-red-text">Approved Users</h3>
{% if approved_members|length > 0 %}
<ul class="collapsible popout">
    {% for member in approved_members %}
    <li>
        <div class="collapsible-header ">

            <!-- Name  -->
            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>{{ member.fullname }}</span>

            </div>
            <!-- Badges  -->
            <div>
                {% if member.is_admin %}
                <span class="badge my-red white-text">A</span>
                {% endif %}
                {% if member.is_volunteer %}
                <span class="badge my-green white-text">V</span>
                {% endif %}
                {% if member.approved == False%}
                <span class="badge my-yellow my-dark-blue-text">NEW</span>
                {% endif %}
            </div>
        </div>
        <!-- Member details  -->
        <div class="collapsible-body white">
            <p><strong>Address: <em>{{ member.place.address }}</em></strong></p>
            <p>Phone: <em>{{ member.phone_nr }}</em></p>
            <p>Email: <em>{{ member.email }}</em></p>
            <p>
                {% if member.is_admin %}
                <span class="my-red-text">Has Admin Privilages.</span>
                {% endif %}
            </p>
            <p>
                {% if member.is_volunteer %}
                <span class="my-green-text">Registered as a Volunteer.</span>
                {% endif %}
            </p>
            <!-- Edit & Delete Buttons  -->
            <p>
                <a href="{{ url_for('edit_member', user_id=user.id, member_id=member.id) }}"
                    class="waves-effect btn-small my-dark-blue-btn">Edit Member Details</a>
                {% if member.fullname != "Superuser"%}
                <a href="{{ url_for('confirm_delete', user_id=user.id, member_id=member.id) }}" class="btn-small danger-btn">Delete
                    Member</a>
                {% endif %}
            </p>

        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h3 class=" my-red-text center-align">No Results Found</h3>

{% endif%}

{% endblock %}
