{% extends "base.html" %}

<!-- Header elements  -->
{% block left_nav_elements %}
    <a href="{{ url_for('home')}}" aria-label="link to home page">
        <img class="red-car-medium" src="{{ url_for('static', filename='assets/new-red-car.svg')}}" alt="red car">
    </a>
    <div>
        <em class="my-dark-blue-text">Signed in as: <strong>{{user.fullname}}</strong></em>
    </div>
    
{% endblock %}

<!-- Large screen nav elements  -->
{% block right_nav_elements %}
<li><a class="active my-nav-element my-dark-blue-text" href="">
        {% if unapproved_members_count > 0 %}
        <span class="badge my-yellow my-dark-blue-text">
            {{unapproved_members_count}}
        </span>
        {% endif %}
        Users
    </a></li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('all_requests', user_id=user.id)}}">
        {% if future_outstanding_requests_count > 0 %}
        <span class="badge my-green my-dark-blue-text">
            {{future_outstanding_requests_count}}
        </span>
        {% endif %}
        Requests</a>
</li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('admin_profile', user_id=user.id)}}">My Profile</a></li>
{% endblock %}

<!-- Side nav elements  -->
{% block sidenav_elements %}
<li><a class="active my-nav-element my-dark-blue-text" href="#">
        {% if unapproved_members_count > 0 %}
        <span class="badge my-yellow my-dark-blue-text">
            {{unapproved_members_count}}
        </span>
        {% endif %}
        Users
    </a></li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('all_requests', user_id=user.id)}}">
        {% if future_outstanding_requests_count > 0 %}
        <span class="badge my-green my-dark-blue-text">
            {{future_outstanding_requests_count}}
        </span>
        {% endif %}
        Requests</a>
</li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('admin_profile', user_id=user.id)}}">My Profile</a></li>
{% endblock %}

{% block content %}


<!-- <form action="" method="POST" class="col s12">
    <div class="row valign-wrapper center-align card-panel grey lighten-5">
        <div class="input-field col s12 m6">
            <i class="fas fa-search prefix"></i>
            <input type="text" name="query" id="query" minllength="3" class="validate" required>
            <label for="query">Search Members</label>

        </div>
        <div class="col s12 m6">
            <button type="submit" class="btn my-dark-blue-btn">
                <i class="fas fa-search left"></i> Search
            </button>
            <a href="" class="btn my-white-blue-btn">Reset</a>
        </div>
    </div>
</form> -->

<!-- List of Users Awaiting Approval -->
{% if unapproved_members|length > 0 %}

<h3 class=" center-align">Users Awaiting Approval</h3>
<ul class="collapsible">
    {% for member in unapproved_members %}
    <li>
        <div class="collapsible-header ">

            <!-- Name  -->
            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>{{ member.fullname }}</span>
                
            </div>
            <!-- Badges  -->
            <div>
                {% if member.is_admin %}
                <span class="badge my-red white-text">A</span>
                {% endif %}
                {% if member.is_volunteer %}
                    <span class="badge my-green white-text">V</span>
                {% endif %}
                {% if member.approved == False%}
                    <span class="badge my-yellow my-dark-blue-text">Awaiting Approval</span>
                {% endif %}
            </div>
        </div>
        <!-- Member details  -->
        <div class="collapsible-body brown lighten-5">
            <p><strong>Address: <em>{{ member.place.address }}</em></strong></p>
            <p>Phone: <em>{{ member.phone_nr }}</em></p>
            <p>Email: <em>{{ member.email }}</em></p>
            <p>
                {% if member.is_admin %}
                    <span class="my-red-text">Has Admin Privilages.</span>
                {% endif %}</p>
            <p>
                {% if member.is_volunteer %}
                    <span class="my-green-text">Registered as a Volunteer.</span>
                {% endif %}</p>
            <p>
                <!-- Edit & Delete Buttons  -->
                <a href="{{ url_for('edit_member', user_id=user.id, member_id=member.id) }}"
                    class="waves-effect btn-small my-dark-blue-btn">Edit Member Details</a>
                <a href="{{ url_for('confirm_delete', user_id=user.id, member_id=member.id) }}" class="btn-small danger-btn">Delete
                    Member</a>
            </p>
            
        </div>
    </li>
    {% endfor %}
</ul>

{% endif%}


<!-- List All Approved Members  -->
<h3 class=" center-align">Approved Users</h3>
{% if approved_members|length > 0 %}
<ul class="collapsible">
    {% for member in approved_members %}
    <li>
        <div class="collapsible-header ">

            <!-- Name  -->
            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>{{ member.fullname }}</span>

            </div>
            <!-- Badges  -->
            <div>
                {% if member.is_admin %}
                <span class="badge my-red white-text">A</span>
                {% endif %}
                {% if member.is_volunteer %}
                <span class="badge my-green white-text">V</span>
                {% endif %}
                {% if member.approved == False%}
                <span class="badge my-yellow my-dark-blue-text">NEW</span>
                {% endif %}
            </div>
        </div>
        <!-- Member details  -->
        <div class="collapsible-body brown lighten-5">
            <p><strong>Address: <em>{{ member.place.address }}</em></strong></p>
            <p>Phone: <em>{{ member.phone_nr }}</em></p>
            <p>Email: <em>{{ member.email }}</em></p>
            <p>
                {% if member.is_admin %}
                <span class="my-red-text">Has Admin Privilages.</span>
                {% endif %}
            </p>
            <p>
                {% if member.is_volunteer %}
                <span class="my-green-text">Registered as a Volunteer.</span>
                {% endif %}
            </p>
            <!-- Edit & Delete Buttons  -->
            <p>
                <a href="{{ url_for('edit_member', user_id=user.id, member_id=member.id) }}"
                    class="waves-effect btn-small my-dark-blue-btn">Edit Member Details</a>
                <a href="{{ url_for('confirm_delete', user_id=user.id, member_id=member.id) }}" class="btn-small danger-btn">Delete
                    Member</a>
            </p>

        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h3 class="my-green-text text-darken-2 center-align">No Results Found</h3>

{% endif%}

{% endblock %}
