<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons  -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#c5f1f8">
    <meta name="theme-color" content="#c5f1f8">

    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Oswald:wght@200;500&display=swap" rel="stylesheet">

    <!-- Font Awesome Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">

    <!-- Google Maps API polyfill  -->
    <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->

    

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJKHrw61FGKpNiIY4H5eZhJF2rEYn1DJ0&callback=initMap&libraries=places&v=weekly"
        defer></script> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mapstyle.css') }}">
    {% block styles %}
    {% endblock %}

    <title>Community Transport</title>
</head>

<body>
    <header>
        <!-- top navbar  -->
        <nav class="white">
                {% block left_nav_elements %}
                
                <a href="{{ url_for('home')}}" aria-label="link to home page">
                    <div class="logo left-align my-dark-blue-text">Community Transport&ast;</div> 
                    <div class="center-align my-dark-blue-text">
                        <img class="red-car-logo" src="{{ url_for('static', filename='assets/new-red-car.svg')}}" alt="red car">
                        <span class="logo-subtext">Egham, Surrey</span></div>
                </a>
                
                {% endblock %}
                
                <!-- <img class="hospital" src="{{ url_for('static', filename='assets/Freepik-hospital.jpg')}}" alt="hospital"> -->
                <!-- <img class="yellow-car" src="{{ url_for('static', filename='assets/Pngtree-5471979.png')}}" alt="yellow car"> -->
                
                <ul class="right hide-on-med-and-down">
                    {% block right_nav_elements %}
                    {% endblock %}
                    {% if session.user %}
                        <li>
                            <a class="my-nav-element my-dark-blue-text" href="{{ url_for('signout')}}">
                                Sign Out
                            </a>
                        </li>
                    {% else %}
                        <li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('signin')}}">Sign In</a></li>
                        <li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('register', user_type='new')}}">Register&ast;</a>
                        </li>
                    {% endif %}
                </ul>
                
                <a href="#" data-target="mobile-demo" class="sidenav-trigger my-dark-blue-text right"><i class="fas fa-bars"
                        aria-label="menu"></i></a>
        </nav>

        <!-- mobile side navbar  -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h2 class="center-align">Community Transport</h2>
            </li>
            {% block sidenav_elements %}
            {% endblock %}
            {% if session.user %}
            <li>
                <a class="my-nav-element my-dark-blue-text" href="{{ url_for('signout')}}">
                Sign Out
                </a>
            </li>
            {% else %}
            <li><a class="my-nav-element" href="{{ url_for('signin')}}">Sign In</a></li>
            <li><a class="my-nav-element" href="{{ url_for('register', user_type='new')}}">Register&ast;</a>
            </li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!-- Flash messages  -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="row flashes">
                    <h4 class="center-align">{{ message }}</h4>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content%}
        <img class="red-car-large" src="{{ url_for('static', filename='assets/new-red-car.svg')}}" alt="red car">
        <div class="row">
            <div class="col s12">
                <div class="card-panel intro-card mission-card">
                    <h1>Mission</h1>
                    <p class="">Our mission is to help vulnerable people with transport by asking the local
                        community to help! Transports would include trips to sheduled, non-urgent hospital 
                        or GP visits in and around Egham, Surrey. All our volunteers are DBS checked and have
                        clean driving licences to ensure the safety of our members.
                    </p>
                    <p class="callout">Interested?</p>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-panel intro-card small-card">
                    <p class="callout">I need help with transport.</p>
                    <a class="my-grey-text" href="{{url_for('register', user_type='new')}}">Register here.</a>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-panel intro-card small-card">
                    <p class="callout">I can offer help with transport.</p>
                    <a class="my-grey-text" href="{{url_for('register', user_type='volunteer')}}">Register here.</a>
                </div>
            </div>
        </div>
        {% endblock %}
    </main>

    <!-- footer https://materializecss.com/footer.html -->
    <footer class="white">
        <div class="footer-copyright">
                <div>*Disclaimer: This website was created for demonstrational purposes only. Please don't enter real data.</div>
                <div>&copy; Szilvia Csernusne Berczes, 2023. All rights reserved.</div>
        </div>
    </footer>


    <!-- Materialize  -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/newscript.js') }}"></script>
    
    {% block scripts %}
    {% endblock %}
</body>

</html>