<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Szilvia Csernusne Berczes">
    <meta name="application-name" content="Community Transport, Egham">
    <meta name="description" content="Fictional Community Project">
    <meta name="keywords" content="community project, local volunteering, transport help for elderly">

    <!-- Favicons  -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">

    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Oswald:wght@200;500&display=swap"
        rel="stylesheet">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">

    {% block headscripts %}
    {% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Community Transport</title>
</head>

<body>
    <header>
        <!-- top navbar  -->
        <nav class="white">
            {% block left_nav_elements %}

            <div>
                <div class="logo left-align my-dark-blue-text">Community Transport&ast;</div>
                <div class="center-align my-dark-blue-text">
                    <img class="red-car-logo" src="{{ url_for('static', filename='assets/red-car-small.svg')}}"
                        alt="red car">
                    <span class="logo-subtext">Egham, Surrey, UK</span>
                </div>
            </div>

            {% endblock %}


            <ul class="right hide-on-med-and-down">
                {% block right_nav_elements %}
                {% endblock %}
                {% if session.user %}
                <li>
                    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('signout')}}">
                        Sign Out
                    </a>
                </li>
                {% else %}
                <li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('signin')}}">Sign In</a></li>
                <li><a class="my-nav-element my-dark-blue-text"
                        href="{{ url_for('register', user_type='new')}}">Register&ast;</a>
                </li>
                {% endif %}
            </ul>

            <a href="#" data-target="mobile-demo" class="sidenav-trigger my-dark-blue-text right" aria-label="menu">
                <img class="my-icon" src="{{ url_for('static', filename='assets/menu-burger.svg')}}" alt="burger icon">
            </a>
        </nav>

        <!-- mobile side navbar  -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h2 class="center-align sidenav-title">Community Transport</h2>
            </li>
            {% block sidenav_elements %}
            {% endblock %}
            {% if session.user %}
            <li>
                <a class="my-nav-element my-dark-blue-text" href="{{ url_for('signout')}}">
                    Sign Out
                </a>
            </li>
            {% else %}
            <li><a class="my-nav-element" href="{{ url_for('signin')}}">Sign In</a></li>
            <li><a class="my-nav-element" href="{{ url_for('register', user_type='new')}}">Register&ast;</a>
            </li>
            {% endif %}
        </ul>
    </header>

    <div>
        <!-- Flash messages  -->
        {% with messages=get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <main id="main" class="container">
        {% block content%}
        <div class="animated-car">
            <img class="red-car-body" src="{{ url_for('static', filename='assets/red-car-body.svg')}}" alt="red car body" width="200" height="88">
            <img class="red-car-wheel wheel-left" src="{{ url_for('static', filename='assets/red-car-wheel.svg')}}" alt="red car wheel" width="48" height="48">
            <img class="red-car-wheel wheel-right" src="{{ url_for('static', filename='assets/red-car-wheel.svg')}}" alt="red car wheel" width="48" height="48">
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel intro-card mission-card">
                    <h1>Mission</h1>
                    <p>Welcome to our journey of compassion! We are a devoted group of volunteers in Egham, UK, providing essential transportation to vulnerable 
                        individuals in our community. We all have clean driving licences and are DBS checked to ensure the trust and safety of everyone we serve.
                        <p>Whether you find yourself in need of transport or have the incredible ability to offer support to others, we invite
                        you to join our vibrant community.</p>
                    </p>
                    <p class="callout">Interested?</p>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-panel intro-card small-card">
                    <p class="callout">I need help with transport.</p>
                    <a class="my-grey-text" href="{{url_for('register', user_type='new')}}">Register here.</a>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-panel intro-card small-card small-card-second">
                    <p class="callout">I can offer help with transport.</p>
                    <a class="my-grey-text" href="{{url_for('register', user_type='volunteer')}}">Register here.</a>
                </div>
            </div>
        </div>
        {% endblock %}
    </main>

    <!-- footer https://materializecss.com/footer.html -->
    <footer class="white">
        <div class="footer-copyright">
            <div><strong>*This website was created for educational purposes only. Please don't enter
                    real data.</strong></div>
            <div>&copy; Szilvia Csernusne Berczes, 
                <script>const now = new Date().getFullYear(); document.write(now);</script>
            </div>
        </div>
    </footer>

    <div id="signout-modal" class="my-modal">
        <div class="my-modal-body">
            
            <!-- Confirmation text  -->
            <div class="row">
                <div class="col s12 center-align">
                    <p>Are you sure you want to sign out and return to home page?</p>
                </div>
            </div>
            <!-- Cancel & Delete Buttons  -->
            <div class="row">
                <button id="signout-cancel" class="col s12 btn my-white-blue-btn">Cancel</button>
            </div>
            <div class="row">
                <a href="{{ url_for('signout') }}" class="col s12 btn danger-btn">Sign Out</a>
            </div>
           
        </div>
    </div>


    <!-- Script for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="{{ url_for('static', filename='js/general.js') }}"></script>

</body>

</html>