{% extends "base.html" %}

{% block left_nav_elements %}
<a href="{{ url_for('home')}}" aria-label="link to home page">
    <img class="red-car-medium" src="{{ url_for('static', filename='assets/new-red-car.svg')}}" alt="red car">
</a>
<div>
    <em class="my-dark-blue-text">Signed in as: <strong>{{user.fullname}}</strong></em>
</div>

{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="card-panel">
            <!-- name  -->
            <div class="row">
                <div class="col s12 center-align">
                <p >Are you sure you want to delete <strong>{{ member.fullname }}</strong>'s record?</p>
                <p >The deletion will be permanent.</p>
                </div>
            </div>
            <!-- buttons  -->
            <div class="row">
                <a href="{{ url_for('cancel_edit_member', user_id=user_id, member_id=member.id) }}"
                    class="col s12 m10 offset-m1 l8 offset-l2 btn my-white-blue-btn">Cancel</a>
            </div>
            <div class="row">
                <a href="{{ url_for('delete_member', user_id=user_id, member_id=member.id) }}"
                    class="col s12 m10 offset-m1 l8 offset-l2 btn danger-btn">Delete</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}