{% extends "base.html" %}

<!-- Header elements  -->
{% block left_nav_elements %}
<div>
    <div class="logo left-align my-dark-blue-text">CT&ast; Egham, Surrey</div>
    <div class="left-align my-dark-blue-text">
        <img id="red-car-icon" class="red-car-small" src="{{ url_for('static', filename='assets/red-car-small.svg')}}" alt="red car">
        {{user.fullname}}
        {% if user.is_admin and user.is_volunteer %}
        (<span class="my-red-text">admin</span> and <span class="my-green-text">volunteer</span>)
        {% elif user.is_admin %}
        (<span class="my-red-text">admin</span>)
        {% elif user.is_volunteer %}
        (<span class="my-green-text">volunteer</span>)
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Google Maps JavaScript API  -->
<script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
        ({ key: "{{google_maps_key}}", v: "weekly" });</script>


<h2 class="center-align">Update User Data</h2>

<div class="row">
    <form id="form" class="col s12 m10 offset-m1 l8 offset-l2" method="POST" 
        action="{{ url_for('edit_member', user_id=user.id, member_id=member.id) }}">
        <div class="card-panel">
            <!-- name input  -->
            <div class="row">
                <div class="input-field col s12">
                    <img class="my-icon-user prefix" src="{{ url_for('static', filename='assets/user.svg')}}" alt="user icon">
                    <input id="fullname" name="fullname" type="text" minlength="5" maxlength="100" class="validate"
                        value="{{ member.fullname }}" required
                        {% if member.email=="superuser@superuser.super" %}
                        readonly
                        {% endif %}
                        >
                    <label for="fullname">Full Name</label>
                </div>
            </div>
            <!-- phone input  -->
            <div class="row">
                <div class="input-field col s12">
                    <img class="my-icon prefix" src="{{ url_for('static', filename='assets/phone.svg')}}" alt="phone icon">
                    <input id="phone_nr" name="phone_nr" type="text" minlength="10" maxlength="20" class="validate"
                        value="{{ member.phone_nr }}" required>
                    <label for="phone_nr">Phone Number</label>
                </div>
            </div>
            <!-- Address input - Google Autocomplete -->
            <div class="row">
                <div class="input-field col s12">
                    <img class="my-icon prefix" src="{{ url_for('static', filename='assets/house.svg')}}" alt="house icon">
                    <div class="notification" id="address-notification">
                        <div class="tooltip"></div>
                        <img class="my-small-icon" src="{{ url_for('static', filename='assets/location-grey.svg')}}" alt="location icon">
                        Please enter a Google-verified address in or around Egham, UK.
                    </div>

                    <input id="address" name="address" type="text" placeholder="" 
                      value="{{ member.place.address }}" autocomplete="off">
                    <label for="address" id="addressLabel">Address</label>
                    <input type="hidden" id="address_id" name="google_place_id" 
                    value="{{ member.place.google_place_id }}">
                    <div id="map" class="hidemap"></div>
                </div>
            </div>

            <!-- Admin & Volunteer checkboxes  -->
            {% if user.is_admin and member.email!="superuser@superuser.super" %}   
            <div class="row ">
            <div class="col s12 checkboxes-frame">
                <label class="my-dark-blue-text">
                    {% if member.is_admin %}
                        <input type="checkbox" name="is_admin" class="filled-in" value="True" checked>
                    {% else %}
                        <input type="checkbox" name="is_admin" class="filled-in" value="True">
                    {% endif %}
                    <span>Admin</span>
                </label>
            
                <label class="my-dark-blue-text">
                    {% if member.is_volunteer %}
                        <input type="checkbox" name="is_volunteer" class="filled-in" value="True" checked>
                    {% else %}
                        <input type="checkbox" name="is_volunteer" class="filled-in" value="True">
                    {% endif %}
                    <span>Volunteer</span>
                </label>
            </div>
            </div>
            {% endif %}
            <!-- update button  -->
            <div class="row">
                <button type="submit" class="col s12 btn my-white-blue-btn">
                    Update 
                    <img class="my-small-icon" src="{{ url_for('static', filename='assets/login.svg')}}" alt="login icon">
                </button>
            </div>
            
            <!-- cancel button  -->
            <div class="row">
                <a href="{{ request.referrer }}"
                    class="col s12 btn my-white-blue-btn">
                    Cancel
                </a>
            </div>

            {% if member.email != "superuser@superuser.super"%}
            <!-- delete button  -->
                <div class="row">
                    <button type="button" data-modal-id="modal-{{member.id}}" data-cancel-id="cancel-{{member.id}}"
                    class="col col s12 btn danger-btn delete-button">Delete
                        User</button>
                </div>
            {% endif %}

            <!-- Confirm Delete Modal  -->
            
            <div id="modal-{{member.id}}" class="my-modal">
                <div class="my-modal-body">
                    
                    <!-- Confirmation text  -->

                    <p>Are you sure you want to delete 
                        <strong>
                            {% if user.id==member.id %}
                            your own
                            {% else%}
                            {{ member.fullname }}'s
                            {% endif %}
                        </strong>
                        record?
                    </p>
                    {% if member.is_admin %}
                        All members approved by
                        {% if user.id==member.id %}
                            you
                        {% else %}
                            this person
                        {% endif %}
                            will need to be approved again by another admin.
                    {% endif %}
                    {% if member.is_volunteer %}
                        <p>
                            All accepted transports will be cancelled.
                        </p>
                    {% endif %}
                    <p>The deletion will be permanent.</p>
                    <br>
            
                    <!-- Cancel & Delete Buttons  -->
                    <div class="row">
                        <button type="button" id="cancel-{{member.id}}"
                            class="col s12 btn my-white-blue-btn">Cancel</button>
                    </div>
                    <div class="row">
                        <a href="{{ url_for('delete_member', user_id=user.id, member_id=member.id) }}"
                            class="col s12 btn danger-btn">Delete</a>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<script type="module" src="{{ url_for('static', filename='js/edit_member_form_validation.js')}}"></script>

{% endblock %}
