{% extends "base.html" %}
{% block content %}

<!-- Google Maps JavaScript API  -->
<script>
    (g => {
        var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
            m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set,
                e = new URLSearchParams, u = () => h || (h = new Promise(
                    async (f, n) => {
                        await (a = m.createElement("script"));
                        e.set("libraries", [...r] + "");
                        for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                        e.set("callback", c + ".maps." + q);
                        a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f;
                        a.onerror = () => h = n(Error(p + " could not load."));
                        a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                        m.head.append(a)
                    }));
        d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(
            () => d[l](f, ...n))
    })({
        key: "AIzaSyCJKHrw61FGKpNiIY4H5eZhJF2rEYn1DJ0",
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
    });
</script>


<h3 class="center-align">Update User Data</h3>

<div class="row">
    <form class="col s12 m10 offset-m1 l8 offset-l2" method="POST" 
        action="{{ url_for('edit_member', user_id=user.id, member_id=member.id) }}">
        <div class="card-panel">
            {% if user.is_admin %}
                {% if not member.approved %}
                <div class="row">
                    <div class="col s6">
                        <a href="{{ url_for('approve', user_id=user.id, approval_id=member.approval_id, decision='approve')}}" 
                        class="col s12 btn my-yellow my-dark-blue-text">
                            Approve
                        </a>
                    </div>
                    <div class="col s6">
                        <a href="{{ url_for('approve', user_id=user.id, approval_id=member.approval_id, decision='decline')}}"
                            class="col s12 btn my-yellow my-dark-blue-text">
                            Decline
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            <!-- name input  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user my-dark-blue-text prefix"></i>
                    <input id="fullname" name="fullname" type="text" minlength="5" maxlength="100" class="validate"
                        value="{{ member.fullname }}" required>
                    <label for="fullname">Full Name</label>
                </div>
            </div>
            <!-- phone input  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-phone-alt my-dark-blue-text prefix"></i>
                    <input id="phone_nr" name="phone_nr" type="text" minlength="10" maxlength="20" class="validate"
                        value="{{ member.phone_nr }}" required>
                    <label for="phone_nr">Phone Number</label>
                </div>
            </div>
            <!-- address input  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-map-marker-alt my-dark-blue-text prefix"></i>
                    <!--
                        Copyright 2021 Google LLC
                    
                        Licensed under the Apache License, Version 2.0 (the "License");
                        you may not use this file except in compliance with the License.
                        You may obtain a copy of the License at
                    
                            https://www.apache.org/licenses/LICENSE-2.0
                    
                        Unless required by applicable law or agreed to in writing, software
                        distributed under the License is distributed on an "AS IS" BASIS,
                        WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
                        See the License for the specific language governing permissions and
                        limitations under the License.
                      -->



                    <div class="notification" id="addressNotification">
                        <div class="tooltip"></div>
                        <i class="fas fa-map-marker-alt"></i>
                        Please enter a Google-verified address
                    </div>

                    <input id="address" name="address" type="text" placeholder="" 
                      value="{{ member_address }}" autocomplete="off">
                    <label for="address" id="addressLabel">Address</label>
                    <input type="hidden" id="address_id" name="address_id" value="{{ member_address_id }}" >
                    <div id="map"></div>
                </div>
            </div>

            {% if user.is_admin %}
                
            <div class="row ">
            <div class="col s12 checkboxes-frame">
                <label class="my-dark-blue-text">
                    {% if member.is_admin %}
                        <input type="checkbox" name="is_admin" class="filled-in" value="True" checked/>
                    {% else %}
                        <input type="checkbox" name="is_admin" class="filled-in" value="True" />
                    {% endif %}
                    <span>Admin</span>
                </label>
            
                <label class="my-dark-blue-text">
                    {% if member.is_volunteer %}
                        <input type="checkbox" name="is_volunteer" class="filled-in" value="True" checked/>
                    {% else %}
                        <input type="checkbox" name="is_volunteer" class="filled-in" value="True" />
                    {% endif %}
                    <span>Volunteer</span>
                </label>
            </div>
            </div>
            {% endif %}
            <!-- update button  -->
            <div class="row">
                <button type="submit" class="col s12 btn my-dark-blue">
                    Update <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
            
            <!-- cancel button  -->
            <div class="row">
                <a href="{{ url_for('cancel_edit_member', user_id=user.id, member_id=member.id) }}"
                    class="col s12 btn my-white-blue-btn">
                    Cancel
                </a>
            </div>

            <!-- delete button  -->
            <div class="row">
                <a href="{{ url_for('confirm_delete', user_id=user.id, member_id=member.id) }}" 
                class="col col s12 btn danger-btn">Delete
                    User</a>
            </div>

        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/address.js')}}"></script>

{% endblock %}