{% extends "base.html" %}

{% block headscripts %}
<!-- Google Maps JavaScript API polyfill -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock %}

<!-- Header elements  -->
{% block left_nav_elements %}
<div>
    <div class="logo left-align my-dark-blue-text">CT&ast; Egham, Surrey</div>
    <div class="left-align my-dark-blue-text">
        <img id="red-car-icon" class="red-car-small" src="{{ url_for('static', filename='assets/red-car-small.svg')}}" alt="red car">
        {{user.fullname}}
        {% if user.is_admin and user.is_volunteer %}
        (<span class="my-red-text">admin</span> and <span class="my-green-text">volunteer</span>)
        {% elif user.is_admin %}
        (<span class="my-red-text">admin</span>)
        {% elif user.is_volunteer %}
        (<span class="my-green-text">volunteer</span>)
        {% endif %}
    </div>
</div>
{% endblock %}

<!-- Large screen nav elements  -->
{% block right_nav_elements %}
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('member_requests', user_id=user.id)}}">
        {% if upcoming_trips_count > 0 %}
        <span class="badge btn tooltipped my-dark-blue my-white-text"
            data-tooltip="Number of upcoming, arranged trips.">
            {{ upcoming_trips_count }}
        </span>
        {% endif %}
        <span class="active-nav-element">My Requests</span></a>
</li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('new_request', user_id=user.id)}}">New Request</a>
</li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('member_profile', user_id=user.id)}}">Profile</a></li>
{% endblock %}

<!-- Side nav elements  -->
{% block sidenav_elements %}
<li><a class="active my-nav-element my-dark-blue-text" href="{{ url_for('member_requests', user_id=user.id)}}">
        {% if upcoming_trips_count > 0 %}
        <span class="badge btn tooltipped my-dark-blue my-white-text"
            data-tooltip="Number of upcoming, arranged trips.">
            {{ upcoming_trips_count }}
        </span>
        {% endif %}
        My Requests</a>
</li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('new_request', user_id=user.id)}}">New Request</a>
</li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('member_profile', user_id=user.id)}}">Profile</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <br>
    <div class="col s12 center-align">
        <a class="btn my-white-blue-btn" href="{{ url_for('new_request', user_id=user.id)}}">New Request</a>
    </div>
</div>

<!-- List of Current Requests -->
{% if future_requests|length > 0 %}

<h2 class=" center-align">My Requests</h2>
<ul class="collapsible">
    {% for req in future_requests %}
    <li
        {% if req == future_requests[0] %}
            class="active"
        {% endif %}
        >
        <div class="collapsible-header">

            <!-- Date and Time  -->
            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>{{ req.request_date.strftime("%d %b, %Y")}} - {{ req.request_time.strftime("%H:%M") }}</span>

            </div>
            <!-- Badges  -->
            <div>
                {% if not req.volunteer_id %}
                <span class="my-green-text">Awaiting Volunteer</span>
                {% else %}
                <span class="my-green-text">Arranged</span>
                {% endif %}
            </div>
        </div>
        <!-- Request details  -->
        <div class="collapsible-body white">
            <h3>{{ req.request_date.strftime("%a %d %b, %Y")}}</h3>
            <h3>Pickup time: {{ req.request_time.strftime("%H:%M") }}</h3>
            
            <!-- Map for the first element  -->
            {% if req == future_requests[0] %}
                <p><strong><span id="distance"></span> <span id="duration"></span></strong></p>
                <div id="map" 
                data-start="{{req.start_location.google_place_id}}" 
                data-end="{{req.end_location.google_place_id}}">
                </div>
            {% endif %}

            <p>Pickup Address: <strong>{{ req.start_location.address }}</strong></p>
            <p>Dropoff Address: <strong>{{ req.end_location.address }}</strong></p>
            <br>

            {% if not req.volunteer_id %}
            <h3 class="my-green-text left-align">Awaiting Volunteer</h3>
            {% else %}

            <!-- If a volunteer picked up this request, display volunteer's details  -->
            <h3 class="my-green-text left-align">Volunteer: {{req.volunteer.fullname }}</h3>
            <p class="my-green-text">Phone: <a class="my-green-text" href="tel:{{ req.volunteer.phone_nr}}">{{ req.volunteer.phone_nr}}</a></p>
            <p class="my-green-text">Email: <a class="my-green-text" href="mailto:{{req.volunteer.email}}">{{req.volunteer.email}}</a></p>
            {% endif %}

            <!-- Cancel button  -->
            <a href="{{ url_for('cancel_transport_request', user_id=user.id, request_id=req.id)}}"
                class="col s12 btn-small danger-btn">
                Cancel Transport Request
            </a>
        </div>
        
    </li>
    {% endfor %}
</ul>
{% else %}
<h2 class="center-align">No transport request found.</h2>

{% endif%}

<!-- List of Expired Requests -->
{% if expired_requests|length > 0 %}

<h3 class=" center-align">Past Requests</h3>
<ul class="collapsible">
    {% for req in expired_requests %}
    <li>
        <div class="collapsible-header ">

            <!-- Date and time  -->
            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>{{ req.request_date.strftime("%d %b, %Y")}} - {{ req.request_time.strftime("%H:%M") }}</span>

            </div>
        </div>
        <!-- Request details  -->
        <div class="collapsible-body white">
            <h3>{{ req.request_date.strftime("%a %d %b, %Y")}}</h3>
            <p>Pickup Time: <strong>{{ req.request_time.strftime("%H:%M") }}</strong></p>
            <p>Pickup Address: <em>{{ req.start_location.address }}</em></p>
            <p>Dropoff Address: <em>{{ req.end_location.address }}</em></p>

            <!-- Clear button  -->
            <a href="{{ url_for('cancel_transport_request', user_id=user.id, request_id=req.id)}}"
                class="col s12 btn-small danger-btn">
                Clear
            </a>

        </div>
    </li>
    {% endfor %}
</ul>

{% endif%}

{% if future_requests|length > 0 %}
<script src="{{ url_for('static', filename='js/trip_map.js')}}"></script>

<!-- Google Maps JavaScript API initialisation -->
<script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_key}}&callback=initMap&v=weekly"></script>
{% endif %}


{% endblock %}