{% extends "base.html" %}

<!-- Header elements  -->
{% block left_nav_elements %}
<a href="{{ url_for('confirm_signout', user_id=user.id)}}" aria-label="link to home page">
    <div class="logo left-align my-dark-blue-text">CT&ast; Egham, Surrey</div>
    <div class="left-align my-dark-blue-text">
        <img class="red-car-small" src="{{ url_for('static', filename='assets/new-red-car.svg')}}" alt="red car">
        {{user.fullname}}
        {% if user.is_admin and user.is_volunteer %}
        (<span class="my-red-text">admin</span> and <span class="my-green-text">volunteer</span>)
        {% elif user.is_admin %}
        (<span class="my-red-text">admin</span>)
        {% elif user.is_volunteer %}
        (<span class="my-green-text">volunteer</span>)
        {% endif %}
    </div>
</a>
{% endblock %}

<!-- Large screen nav elements  -->
{% block right_nav_elements %}
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('member_requests', user_id=user.id)}}">
        {% if upcoming_trips_count > 0 %}
        <span class="badge btn tooltipped my-dark-blue my-white-text"
            data-tooltip="Number of upcoming, arranged trips.">
            {{ upcoming_trips_count }}
        </span>
        {% endif %}
        My Requests</a>
</li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('new_request', user_id=user.id)}}">New Request</a>
</li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('member_profile', user_id=user.id)}}">Profile</a></li>
{% endblock %}

<!-- Side nav elements  -->
{% block sidenav_elements %}
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('member_requests', user_id=user.id)}}">
        {% if upcoming_trips_count > 0 %}
        <span class="badge btn tooltipped my-dark-blue my-white-text"
            data-tooltip="Number of upcoming, arranged trips.">
            {{ upcoming_trips_count }}
        </span>
        {% endif %}
        My Requests</a>
</li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('new_request', user_id=user.id)}}">New Request</a>
</li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('member_profile', user_id=user.id)}}">Profile</a></li>
{% endblock %}

{% block content %}

<!-- List of Current Requests -->
{% if future_requests|length > 0 %}

<h3 class=" center-align">My Requests</h3>
<ul class="collapsible">
    {% for req in future_requests %}
    <li
        {% if req == future_requests[0] %}
            class="active"
        {% endif %}
        >
        <div class="collapsible-header">

            <!-- Date and Time  -->
            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>{{ req.request_date.strftime("%d %b, %Y")}} - {{ req.request_time.strftime("%H:%M") }}</span>

            </div>
            <!-- Badges  -->
            <div>
                {% if not req.volunteer_id %}
                <span class="my-green-text">Awaiting Volunteer</span>
                {% else %}
                <span class="my-green-text">Arranged</span>
                {% endif %}
            </div>
        </div>
        <!-- Request details  -->
        <div class="collapsible-body white">
            <h3>{{ req.request_date.strftime("%a %d %b, %Y")}}</h3>
            <p>Pickup Time: <strong>{{ req.request_time.strftime("%H:%M") }}</strong></p>
            <p>Pickup Address: <em>{{ req.start_location.address }}</em></strong></p>
            <p>Dropoff Address: <em>{{ req.end_location.address }}</em></p>
            {% if not req.volunteer %}
            <p class="my-green-text">No volunteer has come forward yet.</p>
            {% else %}
            <p class="my-green-text">Volunteer: 
                {{ req.volunteer.fullname }}, {{req.volunteer.phone_nr}}, {{req.volunteer.email}}
            </p>
            {% endif %}
            <!-- Cancel button  -->
            <a href="{{ url_for('cancel_transport_request', user_id=user.id, request_id=req.id)}}"
                class="col s12 btn-small danger-btn">
                Cancel Transport Request
            </a>
        </div>
        
    </li>
    {% endfor %}
</ul>
{% else %}
<h3 class="center-align">No transport request found.</h3>

{% endif%}

<!-- List of Expired Requests -->
{% if expired_requests|length > 0 %}

<h3 class=" center-align">Past Requests</h3>
<ul class="collapsible">
    {% for req in expired_requests %}
    <li>
        <div class="collapsible-header ">

            <!-- Date and time  -->
            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>{{ req.request_date.strftime("%d %b, %Y")}} - {{ req.request_time.strftime("%H:%M") }}</span>

            </div>
        </div>
        <!-- Request details  -->
        <div class="collapsible-body white">
            <h3>{{ req.request_date.strftime("%a %d %b, %Y")}}</h3>
            <p>Pickup Time: <strong>{{ req.request_time.strftime("%H:%M") }}</strong></p>
            <p>Pickup Address: <em>{{ req.start_location.address }}</em></strong></p>
            <p>Dropoff Address: <em>{{ req.end_location.address }}</em></p>

        </div>
    </li>
    {% endfor %}
</ul>

{% endif%}


{% endblock %}