{% extends "base.html" %}

{% block left_nav_elements %}
<div>
    <a href="{{ url_for('home')}}" aria-label="link to home page">
        <img class="red-car-medium" src="{{ url_for('static', filename='assets/new-red-car.svg')}}" alt="red car">
    </a>
    <div>
        <em class="my-dark-blue-text">Logged in as: <strong>{{user.fullname}}</strong></em>
    </div>
</div>

{% endblock %}


{% block content %}

<h3 class="center-align grey-text text-darken-2">Your Details</h3>

<div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="card-panel">
            <!-- name  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user my-green-text my-icon"></i>
                    <strong>Full Name: </strong>{{ member.fullname }}
                </div>
            </div>
            <!-- phone -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-phone-alt my-green-text my-icon"></i>
                    <strong>Phone Number: </strong>{{ member.phone_nr }}
                </div>
            </div>
            <!-- address -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-map-marker-alt my-green-text my-icon"></i>
                    <strong>Address: </strong>{{ place.address }}
                </div>
            </div>
            {% if member.is_admin %}
            <br>
            <div class="row">
                <div class="col s12">
                    <span class="my-red-text">You have Admin privilages.</span>
                </div>
            </div>
            {% endif %}
            {% if member.is_volunteer %}
            <div class="row">
                <div class="col s12">
                    <span class="my-green-text">You are registered as a Volunteer.</span>
                </div>
            </div>
            {% endif %}
            <br>

            <!-- Edit button  -->
            <div class="row">
                <a href="{{ url_for('edit_member', user_id=member.id, member_id=member.id) }}"
                    class="col s12 m10 offset-m1 l8 offset-l2 btn my-green">Edit
                    my Data<i class="fas fa-sign-in-alt"></i></a>
            </div>

            <div class="row">
                <a href="{{ url_for('confirm_delete', user_id=member.id, member_id=member.id) }}"
                    class="col s12 m10 offset-m1 l8 offset-l2 btn danger-btn">Delete
                    my Data</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}