{% extends "base.html" %}
{% block content %}

<!-- Google Maps JavaScript API  -->
<script src="{{ url_for('static', filename='js/google_maps_api.js')}}"></script>


<h3 class="center-align my-dark-blue-text">Register&ast;</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register', user_type=user_type) }}">
        <div class="card-panel">
            <!-- name input  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus my-dark-blue-text prefix"></i>
                    <input id="fullname" name="fullname" type="text" minlength="5" maxlength="100"
                        class="validate" required>
                    <label for="fullname">Full Name</label>
                </div>
            </div>
            <!-- phone input  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-phone-alt my-dark-blue-text prefix"></i>
                    <input id="phone_nr" name="phone_nr" type="text" minlength="10" maxlength="20"
                         class="validate" required>
                    <label for="phone_nr">Phone Number</label>
                </div>
            </div>
            <!-- address input  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-map-marker-alt my-dark-blue-text prefix"></i>
                    <!--
                        Copyright 2021 Google LLC
                    
                        Licensed under the Apache License, Version 2.0 (the "License");
                        you may not use this file except in compliance with the License.
                        You may obtain a copy of the License at
                    
                            https://www.apache.org/licenses/LICENSE-2.0
                    
                        Unless required by applicable law or agreed to in writing, software
                        distributed under the License is distributed on an "AS IS" BASIS,
                        WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
                        See the License for the specific language governing permissions and
                        limitations under the License.
                      -->
                    
    

                    <div class="notification" id="addressNotification">
                        <div class="tooltip"></div>
                        <i class="fas fa-map-marker-alt"></i>
                        Please enter a Google-verified address
                    </div>

                    <input id="address" name="address" type="text" placeholder="" 
                    autocomplete="address-line1 address-level1 postal-code">
                    <label for="address" id="addressLabel">Address</label>
                    <input type="hidden" id="address_id" name="google_place_id">
                    <div id="map"></div>
                </div>
            </div>
            <!-- email input  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-at my-dark-blue-text prefix"></i>
                    <input id="email" name="email" type="email" minlength="5" maxlength="50"
                         class="validate" autocomplete="email" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <!-- password input  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key my-dark-blue-text prefix"></i>
                    <input id="password" name="password" type="password" 
                        minlength="8" maxlength="25" pattern="^[a-zA-Z0-9]{5,15}$"
                        class="validate" autocomplete="new-password" required>
                    <label for="password">New Password</label>
                </div>
            </div>
            <!-- register button  -->
            <div class="row">
                <button type="submit" class="col s12 btn-large my-dark-blue">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>

            <!-- link to sign in  -->
            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        Already registered?
                        <a href="{{ url_for('signin') }}" class="my-grey-text">Sign In</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/address.js')}}"></script>

{% endblock %}

