{% extends "base.html" %}

<!-- Header elements  -->
{% block left_nav_elements %}
<a href="{{ url_for('home')}}" aria-label="link to home page">
    <div class="logo left-align my-dark-blue-text">Community Transport&ast;</div>
    <div class="center-align my-dark-blue-text">
        <img class="red-car-logo" src="{{ url_for('static', filename='assets/red-car-small.svg')}}"
            alt="red car">
        <span class="logo-subtext">Egham, Surrey, UK</span>
    </div>
</a>
{% endblock %}

{% block content %}

<!-- Google Maps JavaScript API initialisation -->
<script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
        ({ key: "{{google_maps_key}}", v: "weekly" });</script>

<!-- Register -->
<h2 class="center-align my-dark-blue-text">Register&ast;</h2>

<div class="row">
    <form id="form" class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register', user_type=user_type) }}">
        <div class="card-panel">
            <!-- name input  -->
            <div class="row">
                <div class="input-field col s12">
                    <img class="my-icon-user prefix" src="{{ url_for('static', filename='assets/user.svg')}}" alt="user icon">
                    <input id="fullname" name="fullname" type="text" minlength="5" maxlength="30"
                        class="validate" required>
                    <label for="fullname">Full Name</label>
                </div>
            </div>
            <!-- phone input  -->
            <div class="row">
                <div class="input-field col s12">
                    <img class="my-icon prefix" src="{{ url_for('static', filename='assets/phone.svg')}}" alt="phone icon">
                    <input id="phone_nr" name="phone_nr" type="text" minlength="10" maxlength="20"
                         class="validate" required>
                    <label for="phone_nr">Phone Number</label>
                </div>
            </div>
            <!-- address input  -->
            <div class="row">
                <div class="input-field col s12">
                    <img class="my-icon prefix" src="{{ url_for('static', filename='assets/house.svg')}}" alt="house icon">
                    
                    <!--  Google Autocomplete -->
                    
                    <div class="notification" id="address-notification">
                        <div class="tooltip"></div>
                        <img class="my-small-icon" src="{{ url_for('static', filename='assets/location-grey.svg')}}" alt="location icon">
                        Please enter a Google-verified address in or around Egham.
                    </div>

                    <input id="address" name="address" type="text" placeholder="" 
                    autocomplete="address-line1" required>
                    <label for="address" id="addressLabel">Address</label>
                    <input type="hidden" id="address_id" name="google_place_id">
                    <div id="map" class="hidemap"></div>
                </div>
            </div>
            <!-- email input  -->
            <div class="row">
                <div class="input-field col s12">
                    <img class="my-icon prefix" src="{{ url_for('static', filename='assets/mail.svg')}}" alt="mail icon">
                    <input id="email" name="email" type="email" minlength="5" maxlength="50"
                         class="validate" autocomplete="email" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <!-- password input  -->
            <div class="row">
                <div class="input-field col s12">
                    <img class="my-icon prefix" src="{{ url_for('static', filename='assets/lock.svg')}}" alt="lock icon">

                    <div class="notification" id="password-notification">
                        <div class="tooltip"></div>
                        <img class="my-small-icon" src="{{ url_for('static', filename='assets/lock-grey.svg')}}" alt="lock icon">
                        Password should include at least one lowercase and one uppercase character, one number and one special character. It also has to be between 8-25 characters long.
                    </div>

                    <input id="password" name="password" type="password" 
                        minlength="8" maxlength="25"
                        autocomplete="new-password" required>
                    <label for="password">New Password (8-25 characters)</label>
                </div>
            </div>
            <!-- register button  -->
            <div class="row">
                <button id="submit-button" type="submit" class="col s12 btn-large my-white-blue-btn">
                    Register 
                    <img class="my-small-icon" src="{{ url_for('static', filename='assets/login.svg')}}" alt="login icon">
                </button>
            </div>

            <!-- link to sign in  -->
            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        Already registered?
                        <a href="{{ url_for('signin') }}" class="my-grey-text">Sign In</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="module" src="{{ url_for('static', filename='js/reg_form_validation.js')}}"></script>

{% endblock %}

