{% extends "base.html" %}

<!-- Header elements  -->
{% block left_nav_elements %}
<a href="{{ url_for('home')}}" aria-label="link to home page">
    <div class="logo left-align my-dark-blue-text">Community Transport&ast;</div>
    <div class="center-align my-dark-blue-text">
        <img class="red-car-logo" src="{{ url_for('static', filename='assets/red-car-small.svg')}}"
            alt="red car">
        <span class="logo-subtext">Egham, Surrey, UK</span>
    </div>
</a>
{% endblock %}

{% block content %}

<!-- Sign In -->
<h2 class="center-align">Sign In</h2>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('signin') }}">
        <div class="card-panel">
            <!-- email input  -->
            <div class="row">
                <div class="input-field col s12">
                    <img class="my-icon prefix" src="{{ url_for('static', filename='assets/mail.svg')}}" alt="mail icon">
                    <input id="email" name="email" type="email" minlength="5" maxlength="50" 
                        autocomplete="username" class="validate" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <!-- password input  -->
            <div class="row">
                <div class="input-field col s12">
                    <img class="my-icon prefix" src="{{ url_for('static', filename='assets/lock.svg')}}" alt="lock icon">
                    <input id="password" name="password" type="password" minlength="8" maxlength="25" 
                        pattern="^[a-zA-Z0-9]{8,25}$" class="validate" autocomplete="current-password" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- sign in -->
            <div class="row">
                <button type="submit" class="col s12 btn-large my-white-blue-btn">
                    Sign In
                    <img class="my-small-icon" src="{{ url_for('static', filename='assets/login.svg')}}" alt="login icon">
                </button>
            </div>
        
            <!-- Register button  -->
            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        New Here?
                        <a href="{{ url_for('register', user_type='new') }}" class="my-grey-text"> Register</a>
                    </p>
                </div>
            </div>

        </div>
    </form>
</div>

{% endblock %}