{% extends "base.html" %}
{% block content %}

<h3 class="center-align grey-text text-darken-2">Sign In</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('signin') }}">
        <div class="card-panel">
            <!-- email input  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-at my-green-text prefix"></i>
                    <input id="email" name="email" type="email" minlength="5" maxlength="50" 
                        autocomplete="username" class="validate" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <!-- password input  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key my-green-text prefix"></i>
                    <input id="password" name="password" type="password" minlength="8" maxlength="25" 
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" autocomplete="current-password" required>
                    <label for="password">New Password</label>
                </div>
            </div>
            <!-- sign in -->
            <div class="row">
                <button type="submit" class="col s12 btn-large teal">
                    Sign In <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        

        <div class="row">
            <div class="col s12">
                <p class="center-align">
                    New Here?
                    <a href="{{ url_for('register') }}" class="grey-text text-darken-2">Register Account</a>
                </p>
            </div>
        </div>

        </div>
    </form>
</div>



{% endblock %}