{% extends "base.html" %}

<!-- Header elements  -->
{% block left_nav_elements %}
<a href="{{ url_for('home')}}" aria-label="link to home page">
    <div class="logo left-align my-dark-blue-text">CT&ast; Egham, Surrey</div>
    <div class="left-align my-dark-blue-text">
        <img class="red-car-small" src="{{ url_for('static', filename='assets/new-red-car.svg')}}" alt="red car">
        <em>Signed in as: <strong>{{user.fullname}} </strong></em>
    </div>
</a>

{% endblock %}

<!-- Large screen nav elements  -->
{% block right_nav_elements %}

{% if user.is_admin %}
<li><a class="active my-nav-element my-dark-blue-text" href="{{ url_for('all_members', user_id=user.id)}}">
        {% if unapproved_members_count > 0 %}
        <span class="badge btn tooltipped my-red my-white-text" data-tooltip="Number of unapproved member requests.">
            {{unapproved_members_count}}
        </span>
        {% endif %}
        <span class="my-red-text">All Users</span>
    </a></li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('all_requests', user_id=user.id)}}">
        {% if outstanding_requests_count > 0 %}
        <span class="badge btn tooltipped my-transparent my-red-text"
            data-tooltip="Number of upcoming trips and transfer requests.">
            {{outstanding_requests_count}}
        </span>
        {% endif %}
        <span class="my-red-text">All Requests</span>
    </a>
</li>
{% endif%}

{% if user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_requests', user_id=user.id)}}">
        {% if outstanding_requests_count > 0 %}
        <span class="badge btn tooltipped my-green my-white-text"
            data-tooltip="Number of outstanding transport requests.">
            {{ outstanding_requests_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Outstanding Requests</span>
    </a>
</li>
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_trips', user_id=user.id)}}">
        {% if upcoming_trips_count > 0 %}
        <span class="badge btn tooltipped my-transparent my-green-text"
            data-tooltip="Number of upcoming trips you've volunteered for.">
            {{ upcoming_trips_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Trips</span>

    </a>
</li>
{% endif %}

{% if user.is_admin %}
<li>
    <a class="my-nav-element my-dark-blue-text " href="{{ url_for('admin_profile', user_id=user.id)}}">Profile
        <!-- <img class="navbar-icon" src="{{ url_for('static', filename='assets/user.svg')}}"> -->
    </a>
</li>
{% elif user.id_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text " href="{{ url_for('volunteer_profile', user_id=user.id)}}">Profile
        <!-- <img class="navbar-icon" src="{{ url_for('static', filename='assets/user.svg')}}"> -->
    </a>
</li>
{% endif %}

{% endblock %}

<!-- Side nav elements  -->
{% block sidenav_elements %}
{% if user.is_admin %}
<li><a class="active my-nav-element my-dark-blue-text" href="{{ url_for('all_members', user_id=user.id)}}">
        {% if unapproved_members_count > 0 %}
        <span class="badge btn tooltipped my-red my-white-text" data-tooltip="Number of unapproved member requests.">
            {{unapproved_members_count}}
        </span>
        {% endif %}
        <span class="my-red-text">All Users</span>
    </a></li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('all_requests', user_id=user.id)}}">
        {% if outstanding_requests_count > 0 %}
        <span class="badge btn tooltipped my-transparent my-red-text"
            data-tooltip="Number of upcoming trips and transfer requests.">
            {{outstanding_requests_count}}
        </span>
        {% endif %}
        <span class="my-red-text">All Requests</span>
    </a>
</li>
{% endif%}

{% if user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_requests', user_id=user.id)}}">
        {% if outstanding_requests_count > 0 %}
        <span class="badge btn tooltipped my-green my-white-text"
            data-tooltip="Number of outstanding transport requests.">
            {{ outstanding_requests_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Outstanding Requests</span>
    </a>
</li>
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_trips', user_id=user.id)}}">
        {% if upcoming_trips_count > 0 %}
        <span class="badge btn tooltipped my-transparent my-green-text"
            data-tooltip="Number of upcoming trips you've volunteered for.">
            {{ upcoming_trips_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Trips</span>

    </a>
</li>
{% endif %}

{% if user.is_admin %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('admin_profile', user_id=user.id)}}">
        Profile
    </a>
</li>
{% elif user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_profile', user_id=user.id)}}">
        Profile
    </a>
</li>
{% endif %}

{% endblock %}


{% block content %}

<h3 class="center-align my-dark-blue-text">Your Details</h3>

<div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="card-panel">
            <!-- name  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user my-dark-blue-text my-icon"></i>
                    <strong>Full Name: </strong>{{ user.fullname }}
                </div>
            </div>
            <!-- phone -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-phone-alt my-dark-blue-text my-icon"></i>
                    <strong>Phone Number: </strong>{{ user.phone_nr }}
                </div>
            </div>
            <!-- address -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-map-marker-alt my-dark-blue-text my-icon"></i>
                    <strong>Address: </strong>{{ place.address }}
                </div>
            </div>
            {% if user.is_admin %}
            <br>
            <div class="row">
                <div class="col s12">
                    <span class="my-red-text">You have Admin privilages.</span>
                </div>
            </div>
            {% endif %}
            {% if user.is_volunteer %}
            <div class="row">
                <div class="col s12">
                    <span class="my-dark-blue-text">You are registered as a Volunteer.</span>
                </div>
            </div>
            {% endif %}
            <br>

            <!-- Edit button  -->
            <div class="row">
                <a href="{{ url_for('edit_member', user_id=user.id, member_id=user.id) }}"
                    class="col s12 l8 offset-l2 btn my-green">Edit
                    my Data<i class="fas fa-sign-in-alt"></i></a>
            </div>

            <!-- Delete button  -->
            {% if user.fullname != "Superuser"%}
            <div class="row">
                <a href="{{ url_for('confirm_delete', user_id=user.id, member_id=user.id) }}"
                    class="col s12 l8 offset-l2 btn danger-btn">Delete
                    my Data</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}