{% extends "base.html" %}

{% block left_nav_elements %}
<a href="{{ url_for('home')}}" aria-label="link to home page">
    <div class="logo left-align my-dark-blue-text">CT&ast; Egham, Surrey</div>
    <div class="left-align my-dark-blue-text">
        <img class="red-car-small" src="{{ url_for('static', filename='assets/new-red-car.svg')}}" alt="red car">
        <em>Signed in as: <strong>{{user.fullname}}</strong></em>
    </div>
</a>

{% endblock %}


{% block content %}

<h3>Volunteer home page</h3>

{% endblock %}