{% extends "base.html" %}

{% block headscripts %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock %}

<!-- Header elements  -->
{% block left_nav_elements %}
<div>
    <div class="logo left-align my-dark-blue-text">CT&ast; Egham, Surrey</div>
    <div class="left-align my-dark-blue-text">
        <img id="red-car-icon" class="red-car-small" src="{{ url_for('static', filename='assets/red-car-small.svg')}}" alt="red car">
        {{user.fullname}}
        {% if user.is_admin and user.is_volunteer %}
        (<span class="my-red-text">admin</span> and <span class="my-green-text">volunteer</span>)
        {% elif user.is_admin %}
        (<span class="my-red-text">admin</span>)
        {% elif user.is_volunteer %}
        (<span class="my-green-text">volunteer</span>)
        {% endif %}
    </div>
</div>
{% endblock %}

<!-- Large screen nav elements  -->
{% block right_nav_elements %}

{% if user.is_admin %}
<li><a class="active my-nav-element my-dark-blue-text" href="{{ url_for('all_members', user_id=user.id)}}">
        {% if unapproved_members_count > 0 %}
        <span class="badge btn tooltipped my-red my-white-text" data-tooltip="Number of unapproved member requests.">
            {{unapproved_members_count}}
        </span>
        {% endif %}
        <span class="my-red-text">All Users</span>
    </a></li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('all_requests', user_id=user.id)}}">
        <span class="my-red-text">All Requests</span>
    </a>
</li>
{% endif%}

{% if user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_requests', user_id=user.id)}}">
        {% if outstanding_requests_count > 0 %}
        <span class="badge btn tooltipped my-green my-white-text"
            data-tooltip="Number of outstanding transport requests.">
            {{ outstanding_requests_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Outstanding Requests</span>
    </a>
</li>
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_trips', user_id=user.id)}}">
        {% if upcoming_trips_count > 0 %}
        <span class="badge btn tooltipped my-transparent my-green-text"
            data-tooltip="Number of upcoming trips you've volunteered for.">
            {{ upcoming_trips_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Trips</span>

    </a>
</li>
{% endif %}

{% if user.is_admin %}
<li>
    <a class="my-nav-element my-dark-blue-text " href="{{ url_for('admin_profile', user_id=user.id)}}">Profile
    </a>
</li>
{% elif user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text " href="{{ url_for('volunteer_profile', user_id=user.id)}}">Profile
    </a>
</li>
{% endif %}

{% endblock %}

<!-- Side nav elements  -->
{% block sidenav_elements %}
{% if user.is_admin %}
<li><a class="active my-nav-element my-dark-blue-text" href="{{ url_for('all_members', user_id=user.id)}}">
        {% if unapproved_members_count > 0 %}
        <span class="badge btn tooltipped my-red my-white-text" data-tooltip="Number of unapproved member requests.">
            {{unapproved_members_count}}
        </span>
        {% endif %}
        <span class="my-red-text">All Users</span>
    </a></li>
<li><a class="my-nav-element my-dark-blue-text" href="{{ url_for('all_requests', user_id=user.id)}}">
        <span class="my-red-text">All Requests</span>
    </a>
</li>
{% endif%}

{% if user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_requests', user_id=user.id)}}">
        {% if outstanding_requests_count > 0 %}
        <span class="badge btn tooltipped my-green my-white-text"
            data-tooltip="Number of outstanding transport requests.">
            {{ outstanding_requests_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Outstanding Requests</span>
    </a>
</li>
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_trips', user_id=user.id)}}">
        {% if upcoming_trips_count > 0 %}
        <span class="badge btn tooltipped my-transparent my-green-text"
            data-tooltip="Number of upcoming trips you've volunteered for.">
            {{ upcoming_trips_count }}
        </span>
        {% endif %}
        <span class="my-green-text">Trips</span>

    </a>
</li>
{% endif %}

{% if user.is_admin %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('admin_profile', user_id=user.id)}}">
        Profile
    </a>
</li>
{% elif user.is_volunteer %}
<li>
    <a class="my-nav-element my-dark-blue-text" href="{{ url_for('volunteer_profile', user_id=user.id)}}">
        Profile
    </a>
</li>
{% endif %}

{% endblock %}


{% block content %}

<!-- List of Current Requests -->
{% if outstanding_requests|length > 0 %}

<h2 class=" center-align my-green-text">Outstanding Requests</h2>
<ul class="collapsible popout">
    {% for req in outstanding_requests %}
    <li {% if req==outstanding_requests[0] %} class="active" {% endif %}>
        <div class="collapsible-header ">
            <!-- Request by  -->
            <div class="col s12 m9">
                <i class="fas fa-caret-down"></i>
                <span>Request by: <strong><em>{{ req.requestor.fullname }}</em></strong></span>
            </div>
            <!-- Date and time  -->
            <div>
                <span>{{ req.request_date.strftime("%d %b, %Y")}} - {{ req.request_time.strftime("%H:%M") }}</span>
            </div>
        </div>
        <!-- Request details  -->
        <div class="collapsible-body white">
            <h3>{{ req.request_date.strftime("%a %d %b, %Y")}}</h3>
            <h3>Pickup time: {{ req.request_time.strftime("%H:%M") }}</h3>
            
            <!-- Map for the first element  -->
            {% if req == outstanding_requests[0] %}
            <p><strong><span id="distance"></span> <span id="duration"></span></strong></p>
            <div id="map" 
                data-start="{{req.start_location.google_place_id}}" 
                data-end="{{req.end_location.google_place_id}}">
            </div>
            {% endif %}
            
            <p>Pickup Address: <strong>{{ req.start_location.address }}</strong></p>
            <p>Dropoff Address: <strong>{{ req.end_location.address }}</p></strong>
            <p>Phone: <a href="tel:{{ req.requestor.phone_nr}}">{{ req.requestor.phone_nr}}</a></p>
            <p>Email: <a href="mailto:{{req.requestor.email}}">{{req.requestor.email}}</a></p>
            
            {% if not req.volunteer %}
            <h3 class="my-green-text left-align">Awaiting Volunteer</h3>
            {% else %}
            <h3 class="my-green-text">Volunteer: <em>{{ req.volunteer.fullname }}</em></h3>
            {% endif %}

            <!-- Accept button  -->
            <a href="{{ url_for('accept', user_id=user.id, request_id=req.id)}}"
                class="col s12 btn-small my-green">
                Accept Transport Request
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h2 class="center-align my-green-text">No outstanding transport request found.</h2>

{% endif%}

{% if outstanding_requests_count > 0 %}
<script src="{{ url_for('static', filename='js/trip_map.js')}}"></script>

<!-- Google Maps JavaScript API initialisation -->
<script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_key}}&callback=initMap&v=weekly" async
    defer></script>
{% endif %}

{% endblock %}